<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/e-commerce_product.css">
    <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>

  

</head>

<body>
	
	
    <div class="headder-top">
        <div class="width1200 headder-top-content">
            <div><span>{用户名}</span>欢饮来到信达！<span class="user-quit">[退出]</span></div>
            <ul>
                <li><a href="/e_shoppingcar"><i class="fa fa-shopping-cart fa-lg"></i>
                        购物车<span>1</span>件</a></li>
                <li> <a href="e-commerce_order.html">
                        <i class="fa fa-file-text-o fa-lg"></i> 我的订单
                    </a></li>
                <li>服务商入口</li>
            </ul>
        </div>
    </div>
    <div class="logo-search width1200">
        <img class="logo" src="./images/logo-blue.png" />
        <ul class="search">
            <li>
                <span class="search-product font-aqua">产品</span>丨
                <span class="search-service">服务商</span>
            </li>
            <li>
                <input placeholder="搜索您需要的服务或服务商" type="text" th:value="${productName}" name="productName"  id="productName"><span class="search-btn"><i
                        class="fa fa-search fa-2x"></i></span>
            </li>
            <li>
                热门服务：<span>社保开户</span> <span>公司注册</span>
            </li>
        </ul>
        <img class="tel" src="./images/xinda-tel.png" alt="">
    </div>
    <ul class="banner width1200">
        <li><a href="e-commerce_product.html" class="border-b">全部产品</a></li>
        <li><a href="#">财税服务</a></li>
        <li><a href="#">公司工商</a></li>
        <li><a href="#">人事外包</a></li>
        <li><a href="#">加盟我们</a></li>
        <li><a href="#">店铺</a></li>
    </ul>
    <div class="line-aqua"></div>
    <div class="content width1200"  th:if="${count} gt  '0'">
        <ul class="content-nav">
            <li class="nav-active">综合排序</li>
            <li>价格 <i class="fa fa-arrows-v fa-lg"></i></li>
        </ul>
        <ul class="content-title">
            <li>商品</li>
            <li>价格</li>
        </ul>
        <hr color="#ededed" size="1">
        <div class="article"  th:each="user:${xdProductList}">
            <img th:src="@{'/headImg?id='+${user.id}}" alt="图片" /> 
            <!-- 
	           <form action="/upfile?id=8" method="post" enctype="multipart/form-data">
					<input type="file" name="file">
					<input type="submit" value="提交">
				</form>
			 -->
            <ul class="article-info"   >
                <li th:text="${user.productName}" ></li>
                <li th:text="${user.productInstruction}"></li>
                <li th:text="${user.productPrice}"></li>
            </ul>
            <ul class="article-price">
                <li th:text="${user.productPrice}"></li>
                <li>
                    <a href="e-commerce_settlement.html">立即购买</a>
                    <a th:data-id="${user.id}" th:onclick="inCar(this.getAttribute('data-id'))">加入购物车</a>
                </li>
            </ul>
          <hr />
        </div>
        <hr color="#ededed" size="1">
        
    </div>
    <input type="hidden" th:value="${count}" id="count" />
	<input type="hidden" th:value="${pageSize}" id="pageSize" />
	<input type="hidden" th:value="${pageStart}" id="pageStart" />
    <table align="center" border="1" cellspacing="0"></table>
   
		 <div class="center"
		th:with="pageNext=${pageStart}+${pageSize},
		pagePre=${pageStart}-${pageSize},
		modPage=${count}%${pageSize},
		pageLast=${count}-${modPage},
		lastPage=${count}-${pageSize}">
	
		<ul class="pagination">
		
			<li><a th:href="@{'/fenyelike?pageStart=' + 0+'&productName='+${productName}}">首页</a></li>
			<li><span th:if="${pagePre} ge '0'"><a
					th:href="@{'/fenyelike?pageStart=' + ${pagePre}+'&productName='+${productName}}">«</a></span></li>
			<li><div id="mydiv"></div></li>
			<li><span th:if="${pageNext} lt ${count}"><a
					th:href="@{'/fenyelike?pageStart=' + ${pageNext}+'&productName='+${productName}}">»</a></span></li>
			<li><span th:if="${modPage} eq  '0'"><a
					th:href="@{'/fenyelike?pageStart=' + ${lastPage}+'&productName='+${productName}}">末页</a></span></li>
			<li><span th:unless="${modPage} eq  '0'"><a
					th:href="@{'/fenyelike?pageStart=' + ${pageLast}+'&productName='+${productName}}">末页</a></span></li>
		</ul>
	</div>
    <script src="./js/e-commerce_product.js"></script>
</body>

</html>